.fb-posts-scroller {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    background-color: rgb(190, 190, 190);
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-family: monospace;
}

.fb-post {
    width: 70%;
    border: 1px solid rgb(209, 209, 209);
    margin: 10px auto;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    background-color: rgb(229, 229, 229);
}

.fb-post-head {
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 2%;
    cursor: pointer;
}

.fb-post-user-icon {
    background-color: rgb(0, 157, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-post-disc {
    padding: 3%;
}

.fb-post-div {
    height: 350px;
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    justify-content: center;
}

.fb-posted-img {
    width: 100%;
    padding: 3%;
}

.fb-post-btns {
    height: 60px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    padding: 1%;
}

.fb-vote-box {
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.fb-vote-btns {
    height: 20px;
    width: 20px;
}

.fb-post-share,
.fb-post-delete {
    padding: 2%;
    cursor: pointer;
}

.fb-posted-on {
    padding: 2%;
    margin-top: 1%;
    border: 1px solid rgb(222, 222, 222);
}

@media screen and (max-width:990px) {
    .fb-posts-scroller {
        width: 60%;
    }

    .fb-post {
        width: 90%;
    }
}

@media screen and (max-width:627px) {
    .fb-post-user-icon {
        height: 25px;
        width: 25px;
        font-size: 10px;
    }

    .fb-post-disc {
        font-size: 12px;
    }

    .fb-vote-btns {
        height: 15px;
        width: 15px;
    }

    .fb-post-share,
    .fb-post-delete {
        font-size: 12px;
    }

    .fbuser-posted-on {
        font-size: 12px;
    }
}


@media screen and (max-width:571px) {
    .fb-posts-scroller {
        width: 55%;
    }
}

@media screen and (max-width:544px) {
    .fb-post-div {
        height: 30vh;
    }
}

@media screen and (max-width:375px) {

    .fb-posts-scroller {
        width: 50%;
    }

    .fb-post-div {
        height: 20vh;
    }

    .fb-post-user-icon {
        height: 20px;
        width: 20px;
        font-size: 8px;
    }

    .fb-post-head {
        font-size: 9px;
    }

    .fb-post-disc {
        font-size: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .fb-vote-btns {
        height: 10px;
        width: 10px;
    }

    .fb-vote-box p {
        font-size: 8px;
    }

    .fb-post-share,
    .fb-post-delete {
        font-size: 10px;
    }

    .fbuser-posted-on {
        font-size: 10px;
    }
}